@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron-custom">
    <h1>Orange City University</h1>
</div>

<!--Home Image-->
<div class="home-image">
    <picture>
        <source media="(min-width: 991px)" srcset="img/OrangeUniverityCanvaStock.jpg" />
        <source media="(min-width: 767px)" srcset="img/OrangeUniverityCanvaStockMedium.jpg" />
        <source srcset="img/OrangeUniverityCanvaStockSmall.jpg" />
        <img src="img/OrangeUniverityCanvaStock.jpg" alt="University Photo. Credits to www.Canva.com"/>
    </picture>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Orange City University</h2>
        <p>
            Orange City University is a University where you
            can acheive your life dreams. We offer many classes
            and many degrees so you can become who you want to become.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Super Cheap</h2>
        <p>We offer you a education that is so cheap and affordable that
            you will have an easier time getting a quiality education.</p>
    </div>
    <div class="col-md-4">
        <h2>Supportive Staff</h2>
        <p>You can always be sure our staff is here to help you! We are always prepared to help
            students find success in their future.
        </p>
    </div>
</div>
